<dl class="row">
    <dt class="col-sm-3">Domain</dt>
    <dd class="col-sm-9">{{ current_user.organisation.domain }}</dd>

    <dt class="col-sm-3">Users</dt>
    <dd class="col-sm-9">{{ current_user.organisation.users | length }}</dd>

    <dt class="col-sm-3">Created</dt>
    <dd class="col-sm-9">{{ current_user.organisation.created_at.strftime("%d/%m/%Y") }} at {{ current_user.organisation.created_at.strftime("%H:%M:%S") }}</dd>

    <dt class="col-sm-3">Last updated</dt>
    <dd class="col-sm-9">
    {% if current_user.organisation.updated_at %}
        {{ current_user.organisation.updated_at.strftime("%d/%m/%Y") }} at {{ current_user.organisation.updated_at.strftime("%H:%M:%S") }}
    {% else %}
        Never
    {% endif %}
    </dd>
</dl>