<dl class="row">
    <dt class="col-sm-3">Email address</dt>
    <dd class="col-sm-9">{{ user.email_address }}</dd>

    <dt class="col-sm-3">Organisation</dt>
    <dd class="col-sm-9">
    {% if user.organisation %}
        <a href="{{ url_for('organisation.view') }}">{{ user.organisation.name }}</a>
    {% else %}
        None
    {% endif %}
    </dd>

    <dt class="col-sm-3">Role</dt>
    <dd class="col-sm-9">{{ user.role | title }}</dd>

    <dt class="col-sm-3">Timezone</dt>
    <dd class="col-sm-9">{{ user.timezone }}</dd>

    <dt class="col-sm-3">Created</dt>
    <dd class="col-sm-9">{{ user.created_at.strftime("%d/%m/%Y") }} at {{ user.created_at.strftime("%H:%M:%S") }}</dd>

    <dt class="col-sm-3">Last log in</dt>
    <dd class="col-sm-9">{{ user.login_at.strftime("%d/%m/%Y") }} at {{ user.login_at.strftime("%H:%M:%S") }}</dd>

    <dt class="col-sm-3">Last updated</dt>
    <dd class="col-sm-9">
    {% if user.updated_at %}
        {{ user.updated_at.strftime("%d/%m/%Y") }} at {{ user.updated_at.strftime("%H:%M:%S") }}
    {% else %}
        Never
    {% endif %}
    </dd>
</dl>