{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {{ super() }}
        <h1 class="text-truncate">{{ title }}</h1>
        <hr>
        {% include '_user_description.html' %}
        {% if current_user.id == user.id %}
        <div class="d-grid gap-3 d-sm-block">
            <a class="btn btn-primary" href="{{ url_for('user.edit', id=current_user.id) }}"><i class="bi bi-pencil-square"></i> Edit</a>
            <a class="btn btn-danger" href="{{ url_for('user.delete', id=current_user.id) }}"><i class="bi bi-trash"></i> Delete</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}